<h1>Welcome to the Burger App!</h1>

<div class="container">

<form class="create-form">
  <div class="form-group">
    <label for="createBurger"></label>
    <button class="button" type="submit">Add your burger!</button>
    <input type="text" id="createBurger" name="name"/>

    <input type="hidden" name="devoured" value="0">
  </div> 
</form>

<div class="row d-flex justify-content-center">
  <div class="col-md-5 text-center">
    <h2>Served up Burgers!</h2>
    <div class="row text-center">
      <div class="col-md-12 text-center">
        <ul class="list-group">
          {{#each burger}}
            {{#unless devoured}}
              {{>burger/burger-block devoured=false}}
            {{/unless}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-5 text-center">
    <h2>Devoured Burgers!</h2>
     <div class="row text-center">
      <div class="col-md-12 text-center">
        <ul class="list-group">
          {{#each burger}}
            {{#if devoured}}
              {{> burger/burger-block devoured=true}}
            {{/if}}
          {{/each}}
        </ul>
      </div>
      </div>
    </div>
  </div>
  
</div>

</div>
