  
  /* .cool-font {
    font-family: 'Lobster', cursive;;
    font-size: 24px;
    color: #1da1f2;
  } */
  
  h1{
    font-family: 'Lobster', cursive;
    color:black;
    font-size: 5rem;
    font-weight: bolder;
    padding-top: 50px;
  }

  h2{
    font-family: 'Lobster', cursive;
    color:black;
    font-size: 2rem;
    font-weight: bolder;
    padding-top: 50px;
  }
  body{ 
    background-color: tan;
    align-items: center;
    margin: auto;

  }
  
  /* input,
  textarea {
    align-items: center;
  } */
  
  .btn {
    margin: 10px;
    font-family: 'Shrikhand, cursive';
    color: #1da1f2;
    background-color: white;
    border-color: #1da1f2;
    border-style: solid;
    border-width: 2px;
  }
  
  /* p {
    margin: 0;
    font-size: 16px;
  } */
  
  body{
    background-color: thistle;
  }

  .container {
    
  }

  ul{
    list-style: none;
    background-color: white;
  }